  <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Work</h1>

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                {{#each this}}
                  <div class="columns portfolio-item">
                              <div class="item-wrap">
                                 <a href="#{{modal_id}}" title="{{modal_href_title}}">
                                    <img alt="{{title}}" src="{{image}}">
                                    <div class="overlay">
                                       <div class="portfolio-item-meta">
                                              <h5>{{title}}</h5>
                                              <p>{{description_short}}</p>
                                        </div>
                                    </div>
                                    <div class="link-icon"><i class="icon-plus"></i></div>
                                 </a>
                              </div>
                            </div>
               {{/each}}
            </div> <!-- portfolio-wrapper end -->

         </div> <!-- columns end -->


        {{#each this}}
           <div id="{{modal_id}}" class="popup-modal mfp-hide">
              <img class="scale-with-grid" src="{{image}}" alt="" />
                      <div class="description-box">
                          <h4>{{title}}</h4>
                          <p>{{description_long}}</p>
                       <span class="categories"><i class="fa fa-tag"></i>{{tags}}</span>
                      </div>
                    <div class="link-box">
                       <a href="{{demo_link}}" target="_blank">Details</a>
                         <a class="popup-modal-dismiss">Close</a>
                    </div>
                  </div>
        {{/each}}

</div> <!-- row End -->